@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

/* Variables */
:root {
    --white: #fff;
    --black: hsl(0, 0%, 8%);
    --grey: hsl(0, 0%, 41%);
}

body{
    margin: 25px 30px;
    overflow-x: hidden;
    font-family: 'Epilogue', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
}

.header-left{
    display: flex;
}

.header-left nav{
    margin-left: 70px;
}

.header-left nav div{
    margin: 0 15px;
}

.header-left nav a{
    text-decoration: none;
    margin: 0 10px;
    color: var(--grey);
}

.header-left nav a:hover{
    color: var(--black);
}

.header-right nav a{
    margin: 0 14px;
    text-decoration: none;
    color: var(--grey);
}

.header-right nav a:hover{
    color: var(--black);
}

.header-right nav a:nth-child(2){
    background-color: var(--white);
    padding: 10px 15px;
    border-style: solid;
    border-color: var(--grey);
    border-radius: 10px;
}

.header-right nav a:nth-child(2):hover{
    border-color: var(--black);
}

.header-mobile{
    display: none;
}
/* Arrow */
.arrow-dropdown-1{
    position: relative;
    display: inline;
}

.arrow-dropdown-2{
    position: relative;
    display: inline;
}

.arrow-text{
    cursor: pointer;
    display: inline;
    color: var(--grey);
}

.arrow-text:hover{
    color: var(--black);
}

.arrow {
    width: 12px;
    height: 12px;
    font-size: 12px;
    position: absolute;
    top: 5px;
}
  
.arrow span {
    top: 4px;
    position: absolute;
    width: 8px;
    height: 2px;
    background-color: var(--black);
    display: inline-block;
    transition: all 0.2s ease;
}
  
.arrow span:first-of-type {
    left: 0;    
    transform: scale(0.9) rotate(45deg);
}
  
.arrow span:last-of-type {
    right: 0;
    transform: scale(0.9) rotate(-45deg);
}
  
.arrow.active span:first-of-type {
    transform: scale(0.9) rotate(-45deg);
}
  
.arrow.active span:last-of-type {
    transform: scale(0.9) rotate(45deg);

}
  
.arrow:hover {
    cursor: pointer;
}

.dropdown-content-1{
    position: absolute;
    background-color: var(--white);
    width: 130px;
    padding: 10px 10px;
    left: -90px;
    top: 30px;
    border-radius: 10px;
    box-shadow: 2px 1px 49px rgb(166, 166, 166);
    pointer-events: none;
    opacity: 0;
    transform: translateY(-30px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown-content-1 a{
    display: block;
    color: var(--grey);
    line-height: 30px;
}

.dropdown-content-1 a span{
    margin-right: 30px;
}

.dropdown-content-1.active-content{
    transform: translateY(0);
    pointer-events: all;
    opacity: 1;
}

.dropdown-content-2{
    position: absolute;
    background-color: var(--white);
    width: 110px;
    padding: 10px 0;
    left: -30px;
    top: 30px;
    border-radius: 10px;
    box-shadow: 2px 1px 49px rgb(166, 166, 166);
    pointer-events: none;
    opacity: 0;
    transform: translateY(-30px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown-content-2 p{
    text-align: start;
}

.dropdown-content-2.active-content{
    transform: translateY(0);
    pointer-events: all;
    opacity: 1;
}

@media screen and (max-width: 788px){
    header{
        display: none;
    }

    .header-mobile{
        display: flex;
        justify-content: space-between;
    }

    .header-mobile img:nth-child(2){
        cursor: pointer;
    }

    .header-menu-content{
        position: fixed;
        background-color: var(--white);
        width: 200px;
        top: 0;
        bottom: 0;
        right: -200px;
        padding: 13px 20px;
        visibility: hidden;
        opacity: 0;
        transition: right 150ms ease-in-out, visibility 120ms 0s, opacity 100ms ease-out;
    }

    .header-menu-content.active-bar{
        visibility: visible;
        opacity: 1;
        right: 0;
    }

    .header-menu-content p{
        color: var(--grey);
        cursor: pointer;
    }

    .header-menu-content p:hover{
        color: var(--black);
    }

    .header-menu-content a{
        display: block;
        text-decoration: none;
        color: var(--grey);
        margin-bottom:20px;
        text-align: center;
    }

    .header-mobile-link{
        background-color: rgb(0, 0, 0);
        background-color: var(--white);
        padding: 10px 10px;
        border-style: solid;
        border-color: var(--grey);
        border-radius: 10px;
    }

    .header-mobile-link:hover{
        border-color: var(--black);
    }

    .header-menu-content a:hover{
        color: var(--black);
    }

    .header-menu-content div:nth-child(1){
        display: flex;
        justify-content: right;
        cursor: pointer;
    }
}
